*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  box-sizing: inherit;
}

.card {
  border: 1px solid black;
  display: flex;

  width: 600px;
}

img {
  max-width: 100%;
  height: 100%;
}

.card span {
  color: hsl(157.94deg 35.79% 37.25%);
  font-size: 30px;
  font-weight: bold;
}

.card-detail {
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 15px;
}

.card > * {
  flex: 1;
}

.card-prize {
  display: flex;
  align-items: center;
  gap: 10px;
}

.card button {
  border: none;
  outline: none;
  background-color: hsl(157.94deg 35.79% 37.25%);
  padding: 10px 50px;
  font-size: 20px;
  color: #ffff;
  border-radius: 10px;
  align-self: flex-start;
}
