*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  box-sizing: inherit;
  min-height: 100vh;
}

.card {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 650px;
  margin: 0 auto;
}

img {
  border-radius: 10px;
  width: 395px;
  height: 410px;
}

.card span {
  color: hsl(157.94deg 35.79% 37.25%);
  font-size: 30px;
  font-weight: bold;
  margin: 20px 10px;
}

.card-detail {
  width: 300px;
  margin: 0px 20px;
}

.card-detail p {
  margin: 20px 0px;
}

.card-detail h5 {
  margin: 20px 0px;
}

.card button {
  border: none;
  outline: none;
  background-color: hsl(157.94deg 35.79% 37.25%);
  padding: 10px 50px;
  font-size: 20px;
  color: #ffff;
  border-radius: 10px;
  margin: 10px 0px;
}
